{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href=""> 關於本站 </a> > <p>本站緣起</p></div>
</div>



<div class="about_site">
	
	<div class="layout_aside">
		<ul>
			<li>
				<a href=""><i class="fas fa-file-alt"></i> 本站緣起</a>
				<div class="subaside_menu">
					<ul>
						<li><a href="">阿哩阿扎哩</a></li>
						<li><a href="">阿哩布達</a></li>
						<li><a href="">阿哩布達</a></li>
						<li><a href="">阿哩布達</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a href=""><i class="fa fa-link"></i> 相關連結</a>
				<div class="subaside_menu">
					<ul>
						<li><a href="">阿哩阿扎哩</a></li>
						<li><a href="">阿哩布達</a></li>
						<li><a href="">阿哩布達</a></li>
						<li><a href="">阿哩布達</a></li>
					</ul>
				</div>
			</li>




		</ul>
	</div>

	<div class="layout_content">
		<div class="tab_menu">
			<a href="" class="tab_item"> 阿哩阿扎哩</a>
			<div class="l-l"></div>
			<a href="" class="tab_item"> 阿哩阿扎哩</a>
			<div class="l-l"></div>
			<a href="" class="tab_item"> 阿哩阿扎哩</a>
			<div class="l-l"></div>
			<a href="" class="tab_item"> 阿哩阿扎哩</a>
			<div class="l-l"></div>
			<a href="" class="tab_item"> 阿哩阿扎哩</a>
			<div class="l-l"></div>

			<div class="clear"></div>

		</div>

		<img src="img/image_01.jpg" alt="">

		<h6>台灣漫畫博物館</h6>

		<p>使用者可於館藏資源搜尋與瀏覽國家漫畫史料館的館藏，搜尋結果列表 顯示館藏類別，例如漫畫家手稿、畫稿等，並提供數位縮圖，簡要後設資料， 可依時間等排序，亦可列印搜尋結果。左方則提供後分類篩選，可篩選館藏 類別、藏品來源、出版日期、漫畫家等，提供使用者依搜尋結果擴大或縮小 範圍使用。本案提供搜尋足跡，使用者可回顧個人搜尋歷史。相應功能分述 其「館藏查詢」、「作品分類」及「主題瀏覽」說明使用者可於館藏資源搜尋與瀏覽國家漫畫史料館的館藏，搜尋結果列表 顯示館藏類別，例如漫畫家手稿、畫稿等，並提供數位縮圖，簡要後設資料， 可依時間等排序，亦可列印搜尋結果。</p>
		<p>劉興欽老師(1934-)是臺灣的漫畫家及發明家，小名阿欽。出生於日 治臺灣新竹州竹東郡橫山庄大山背(今新竹縣橫山鄉豐鄉村)。臺灣省立臺 北師範專科學校(今國立臺北教育大學)畢業，美國聯合大學榮譽藝術博士。 代表作為《阿三哥與大嬸婆》、《機器人與阿金》系列。2010 年更獲第一屆 金漫獎「終身成就獎」。於新竹更設有劉興欽老師的相關作品為主題的文化 展館，館內設有文創藝品區、時光隧道、定期漫畫藝文展覽、漫畫秘密花園 等。如此豐富多元之素材，規劃一線上主題特展，可不限空間位置隨時可以 瀏覽老師的作品。</p>
		<p>葉宏甲老師(1923-1990)從小對於繪畫就有莫大的興趣，在 1940 年 時，他參加了日本漫畫家協會所舉辦的函授學校，進行學習，而在這段時期 所學習到的事物對於他日後在漫畫的事業發展有很大的影響，在兩年之後， 他又前往日本的川流美術學校進修。被洪德麟譽為「創造臺灣第一名英雄偶 像」的漫畫家。代表作為《諸葛四郎》。</p>
		<p>《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月 刊開始連載，在 1984 年《烏龍院》由龍卡通改編成動畫長片以及真人版連 續劇，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。敖幼祥老師因為《皮皮》被讀者與報界的肯定， 而在中國時報上刊載新的單元，且當時流行武俠功夫，就以功夫發想，搭配 搞笑的喜劇劇情，衍生出了《烏龍院》。</p>

	</div>


</div>


	


{% endblock %}