{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href=""> 關於本站 </a> > <p>相關連結</p></div>
</div>



<div class="about_site">
	
	<div class="layout_aside">
		<ul>
			<li><a href=""><i class="fas fa-file-alt"></i> 本站緣起</a></li>
			<li><a href=""><i class="fa fa-link"></i> 相關連結</a></li>
		</ul>
	</div>

	<div class="relative_link">

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

		<div class="link_block">
			<div class="mask">
				相關連結之一
			</div>
			<img src="img/link_01.jpg" alt="">
		</div>

	</div>


</div>


	


{% endblock %}