{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href=""> 關於本站 </a> > <p>相關連結</p></div>
</div>



<div class="column_layout">
	<!-- i_content -->
	<div class="i_content">

		<div class="comic_detail">
			<h4>烏龍院特輯</h4>
			<div class="comic_detail_row">
				<div class="t_title">作者</div>
				<div class="t_des">敖幼祥</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">關鍵字</div>
				<div class="t_des">爆笑，宋朝，江湖</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">出版社</div>
				<div class="t_des">中國時報</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">出版日期</div>
				<div class="t_des">1989/3/18</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">語言</div>
				<div class="t_des">中文</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">作者</div>
				<div class="t_des">敖幼祥</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">關鍵字</div>
				<div class="t_des">爆笑，宋朝，江湖</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">出版社</div>
				<div class="t_des">中國時報</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">出版日期</div>
				<div class="t_des">1989/3/18</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">語言</div>
				<div class="t_des">中文</div>
			</div>
			<div class="comic_detail_row">
				<div class="t_title">內容大綱</div>
				<div class="t_des">
					<p>《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。</p>
					<p>在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。</p>
					<p>在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。</p>
				</div>
			</div>
		</div>
	</div>



	<!-- i_aside -->
	<div class="i_aside">
		<div class="comic_cover">
			<img src="img/cc_01.jpg" alt="">
		</div>
	</div>









</div>


	


{% endblock %}