{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href=""> 關於本站 </a> > <p>相關連結</p></div>
</div>



<div class="column_layout">

	<!-- i_aside -->
	<div class="i_aside">
		<div class="top-line"></div>

		<div class="post_classification_menu">
			<div class="classification_block">

				<div class="classification_select">
					<select name="" id="">
						<option value="">一般搜尋</option>
						<option value="">時間軸</option>
						<option value="">空間分佈</option>
					</select>
				</div>

				<div class="title_bar">
					<h6>藏品類別</h6>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</div>


				<div class="classification_list">
					<div class="classification_row">
						<input type="radio">連載漫畫
					</div>

					<div class="classification_row">
						<input type="radio">武俠漫畫
					</div>

					<div class="classification_row">
						<input type="radio">搞笑漫畫
					</div>
					<div class="classification_row">
						<input type="radio">單元漫畫
					</div>
					<div class="classification_row">
						<input type="radio">少女漫畫
					</div>
					<a href="" class="show_more">SHOW MORE</a>
				</div>
			</div>

			<div class="classification_block">
				<div class="title_bar">
					<h6>漫畫家類別</h6>
					<i class="fa fa-angle-down" aria-hidden="true"></i>

				</div>
				<div class="classification_list">
					<div class="classification_row">
						<input type="radio">連載漫畫
					</div>

					<div class="classification_row">
						<input type="radio">武俠漫畫
					</div>

					<div class="classification_row">
						<input type="radio">搞笑漫畫
					</div>
					<div class="classification_row">
						<input type="radio">單元漫畫
					</div>
					<div class="classification_row">
						<input type="radio">少女漫畫
					</div>
					<a href="" class="show_more">SHOW MORE</a>
				</div>
			</div>

			<div class="classification_block">
				<div class="title_bar">
					<h6>時間類別</h6>
					<i class="fa fa-angle-down" aria-hidden="true"></i>

				</div>
				<div class="classification_list">
					<div class="classification_row">
						<input type="radio">連載漫畫
					</div>

					<div class="classification_row">
						<input type="radio">武俠漫畫
					</div>

					<div class="classification_row">
						<input type="radio">搞笑漫畫
					</div>
					<div class="classification_row">
						<input type="radio">單元漫畫
					</div>
					<div class="classification_row">
						<input type="radio">少女漫畫
					</div>
					<a href="" class="show_more">SHOW MORE</a>
				</div>
			</div>

			<div class="classification_block">
				<div class="title_bar">
					<h6>地點類別</h6>
					<i class="fa fa-angle-down" aria-hidden="true"></i>

				</div>
				<div class="classification_list">
					<div class="classification_row">
						<input type="radio">連載漫畫
					</div>

					<div class="classification_row">
						<input type="radio">武俠漫畫
					</div>

					<div class="classification_row">
						<input type="radio">搞笑漫畫
					</div>
					<div class="classification_row">
						<input type="radio">單元漫畫
					</div>
					<div class="classification_row">
						<input type="radio">少女漫畫
					</div>
					<a href="" class="show_more">SHOW MORE</a>
				</div>
			</div>
			<div class="classification_block">
				<div class="title_bar">
					<h6>出版社類別</h6>
					<i class="fa fa-angle-down" aria-hidden="true"></i>

				</div>
				<div class="classification_list">
					<div class="classification_row">
						<input type="radio">連載漫畫
					</div>

					<div class="classification_row">
						<input type="radio">武俠漫畫
					</div>

					<div class="classification_row">
						<input type="radio">搞笑漫畫
					</div>
					<div class="classification_row">
						<input type="radio">單元漫畫
					</div>
					<div class="classification_row">
						<input type="radio">少女漫畫
					</div>
					<a href="" class="show_more">SHOW MORE</a>
				</div>
			</div>

		</div>

	</div>



	<!-- i_content -->
	<div class="i_content">
		<div class="search_by_timeline">
			
		</div>
	</div>


</div>





	


{% endblock %}