{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <a href=""> 關於本站 </a> > <p>相關連結</p></div>
</div>



<div class="column_layout">
	<div class="aside">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
	<div class="i_content">
		<div class="post_classification_content">


			<div class="filter">

				<div class="filter_row">顯示 
					<select name="" id="">
						<option value="">111</option>
						<option value="">222</option>
						<option value="">333</option>
					</select>
				</div>

				<div class="filter_row">順序 
					<select name="" id="">
						<option value="">111</option>
						<option value="">222</option>
						<option value="">333</option>
					</select>
				</div>
				
			</div>



			<div class="select_tag">
				<div class="tag_item">連載漫畫<a href=""><i class="fa fa-times" aria-hidden="true"></i></a></div>
				<div class="tag_item">連載漫畫<a href=""><i class="fa fa-times" aria-hidden="true"></i></a></div>
				<div class="tag_item">連載漫畫<a href=""><i class="fa fa-times" aria-hidden="true"></i></a></div>
				<div class="tag_item">連載漫畫<a href=""><i class="fa fa-times" aria-hidden="true"></i></a></div>
				<div class="clear"></div>
			</div>
			
			
			<div class="classification_item">
				<div class="photo">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p>《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。
					在 1980 年於《中國時報》開始連載。</p>
					<br>
					<p>出版社：中國時報</p>
					<p>作者：敖幼祥</p>
					<p>出版日期：1988/3/19</p>
				</div>
			</div>
			<div class="classification_item">
				<div class="photo">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p>《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。
					在 1980 年於《中國時報》開始連載。</p>
					<br>
					<p>出版社：中國時報</p>
					<p>作者：敖幼祥</p>
					<p>出版日期：1988/3/19</p>
				</div>
			</div>

			<div class="classification_item">
				<div class="photo">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p>《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。
					在 1980 年於《中國時報》開始連載。</p>
					<br>
					<p>出版社：中國時報</p>
					<p>作者：敖幼祥</p>
					<p>出版日期：1988/3/19</p>
				</div>
			</div>

			<div class="classification_item">
				<div class="photo">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p>《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座 寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社《Morning》月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。
					在 1980 年於《中國時報》開始連載。</p>
					<br>
					<p>出版社：中國時報</p>
					<p>作者：敖幼祥</p>
					<p>出版日期：1988/3/19</p>
				</div>
			</div>





		</div>
	</div>


</div>


	


{% endblock %}