{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/index_hero.twig' %}

<!-- <div class="black_wrapper">
	<div class="black_section">
		<div class="black_icons">
			<a href="">
				<div class="icon_link">
					<img src="img/b_icon_01.png" alt="">
					<p>館藏區</p>
				</div>
			</a>
			<a href="">
				<div class="icon_link">
					<img src="img/b_icon_02.png" alt="">
					<p>休閒區</p>
				</div>
			</a>
			<a href="">
				<div class="icon_link">
					<img src="img/b_icon_03.png" alt="">
					<p>閱覽區</p>
				</div>
			</a>
			<a href="">
				<div class="icon_link">
					<img src="img/b_icon_04.png" alt="">
					<p>漫畫原稿</p>
				</div>
			</a>
			<a href="">
				<div class="icon_link">
					<img src="img/b_icon_05.png" alt="">
					<p>出版刊物</p>
				</div>
			</a>
		</div>
	</div>
</div> -->




<div class="search_section_wrapper">
	<div class="search_section_index">
		<div class="fun_sec">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input type="text" placeholder="館藏查詢">
			<div class="fun_sec_i trigger-custom" data-iziModal-open="#modal-search">
			<i class="fas fa-sliders-h"></i>
			</div>

		</div>
		<div class="btn">搜尋</div>
	</div>
</div>


<!-- comic_bg -->
<div class="comic_bg">
	<div class="index_recommend">
		<div class="big_part">
			<div class="comic_img">
				<img src="img/2420745.jpg" alt="">
			</div>
			<div class="comic_info">
				<h6>諸葛四郎</h6>
				<p>《諸葛四郎》是台灣漫畫家葉宏甲開始於1958年《漫畫大王》劇情緊湊。</p>
			</div>


		</div>
		<div class="clear"></div>

		<div class="small_part">
			<img src="img/link_01.jpg" alt="">
			<div class="mask_info">
				<h6>諸葛四郎</h6>
				<p>《諸葛四郎》是台灣漫畫家葉宏甲開始於1958年《漫畫大王》劇情緊湊。</p>
			</div>
		</div>
		<div class="small_part">
			<img src="img/book_01.jpg" alt="">
			<div class="mask_info">
				<h6>諸葛四郎</h6>
				<p>《諸葛四郎》是台灣漫畫家葉宏甲開始於1958年《漫畫大王》劇情緊湊。</p>
			</div>
		</div>
				<div class="small_part">
			<img src="img/link_01.jpg" alt="">
			<div class="mask_info">
				<h6>諸葛四郎</h6>
				<p>《諸葛四郎》是台灣漫畫家葉宏甲開始於1958年《漫畫大王》劇情緊湊。</p>
			</div>
		</div>

	</div>


</div>


<div class="news_wrapper">
	<div class="news_block">

		<div class="new_news">
			<h6><i class="far fa-newspaper"></i> 訊息公告</h6>
			<a href="" class="news_item">2018/11/24 《青春如屍》沒談過戀愛的少女漫畫家</a>
			<a href="" class="news_item">2018/11/24 《伊藤潤二精選》電視動畫發布參演聲優 綠川光飾演！</a>
			<a href="" class="news_item">2018/11/22 《從二樓下來的老師》在教室、在家裡，都</a>
			<a href="" class="news_item">2018/11/20 「怎麼睡都睡不飽」的十一月第三週，小說預定出書來囉！</a>
			<a href="" class="news_item">2018/11/16  《偶像夢幻祭3 皇帝的歸來》以歌聲相連──？</a>
			<a href="" class="news_item">2018/11/22 《從二樓下來的老師》在教室、在家裡！</a>
		</div>

		<div class="cartoonist">
			<div class="cartoonist_photo">
				<img src="img/cartoonist_01.jpg" alt="">
			</div>

			<div class="cartoonist_info">
				<h6><i class="far fa-user"></i> 今日漫畫家</h6>

				<h5>敖幼祥</h5>
				<p>敖幼祥是一位台灣漫畫家，生於臺北縣中和鄉。其代表作《烏龍院》全球累計銷量已經超過4300萬冊。同時敖幼祥也像《烏龍院》大師兄一樣人稱大師兄。「亞運志願者名人堂」代表。第5屆金漫獎頒獎特別貢獻獎。民國七十二年在報上連載四格漫畫</p>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>

<div class="circle_bg">
	<div class="circle_icon">
		<div class="circle_row">
			<a href="">
				<div class="circle_i">
					<img src="img/circle_icon_1.png" alt="">
					今日漫畫家
				</div>
			</a>
			<a href="">
				<div class="circle_i">
					<img src="img/circle_icon_2.png" alt="">
					漫畫大事紀
				</div>
			</a>
			<a href="">
				<div class="circle_i">
					<img src="img/circle_icon_3.png" alt="">
					地點瀏覽
				</div>
			</a>
		</div>

	</div>
</div>		



<div class="chronology_wrapper">
	<div class="dot_line"></div>
	
	<div class="chronology">
		<div class="chronology_top">
			<h6><i class="far fa-calendar-alt"></i> 台灣漫畫紀年表</h6>

			<div class="filter_year">
				<p>從</p>
				<select name="" id="">
					<option value="2001年">2001年</option>
					<option value="2001年">2001年</option>
					<option value="2001年">2001年</option>
					<option value="2001年">2001年</option>
					<option value="2001">2001年</option>
				</select>
				<p>到</p>
				<select name="" id="">
					<option value="2001年">2001年</option>
					<option value="2001年">2001年</option>
					<option value="2001年">2001年</option>
					<option value="2001年">2001年</option>
					<option value="2001">2001年</option>
				</select>
			</div>
		</div>
		<div class="clear"></div>

		<div class="chronology_section">

			<div class="left_arrow"><i class="fas fa-angle-left fa-2x"></i></div>
			<div class="right_arrow"><i class="fas fa-angle-right fa-2x"></i></div>

			<div class="chronology_column c_orange">
				<div class="top_color"></div>
				<div class="chronology_date">
					<h4>1987</h4>
					<h5>12月18日</h5>
				</div>
				<div class="chronology_content">
					<img src="img/cartoonist_01.jpg" alt="">
					<p>1987年代之後，臺灣漫畫人才輩出，歷練十多年的磨鍊，大多已爐火純青，風格獨樹一幟的漫畫家也都擁有寫下了驚人紀錄。在畫風上，漫畫家多有「臺灣第一」的頭銜，並紛紛締造自己的傲人創舉。
					</p>
				</div>
			</div>


			<div class="chronology_column c_cyan">
				<div class="top_color"></div>
				<div class="chronology_date">
					<h4>1987</h4>
					<h5>12月18日</h5>
				</div>
				<div class="chronology_content">
					<img src="img/link_01.jpg" alt="">
					<p>1987年代之後，臺灣漫畫人才輩出，歷練十多年的磨鍊，大多已爐火純青，風格獨樹一幟的漫畫家也都擁有寫下了驚人紀錄。在畫風上，漫畫家多有「臺灣第一」的頭銜，並紛紛締造自己的傲人創舉。
					</p>
				</div>
			</div>
			<div class="chronology_column c_blue">
				<div class="top_color"></div>
				<div class="chronology_date">
					<h4>1987</h4>
					<h5>12月18日</h5>
				</div>
				<div class="chronology_content">
					<p>1987年代之後，臺灣漫畫人才輩出，歷練十多年的磨鍊，大多已爐火純青，風格獨樹一幟的漫畫家也都擁有寫下了驚人紀錄。在畫風上，漫畫家多有「臺灣第一」的頭銜，並紛紛締造自己的傲人創舉。
					</p>
				</div>
			</div>
			<div class="chronology_column c_red">
				<div class="top_color"></div>
				<div class="chronology_date">
					<h4>1987</h4>
					<h5>12月18日</h5>
				</div>
				<div class="chronology_content">
					<img src="img/cartoonist_01.jpg" alt="">
					<p>1987年代之後，臺灣漫畫人才輩出，歷練十多年的磨鍊，大多已爐火純青，風格獨樹一幟的漫畫家也都擁有寫下了驚人紀錄。在畫風上，漫畫家多有「臺灣第一」的頭銜，並紛紛締造自己的傲人創舉。
					</p>
				</div>
			</div>
			<div class="chronology_column c_green">
				<div class="top_color"></div>
				<div class="chronology_date">
					<h4>1987</h4>
					<h5>12月18日</h5>
				</div>
				<div class="chronology_content">
					<p>1987年代之後，臺灣漫畫人才輩出，歷練十多年的磨鍊，大多已爐火純青，風格獨樹一幟的漫畫家也都擁有寫下了驚人紀錄。在畫風上，漫畫家多有「臺灣第一」的頭銜，並紛紛締造自己的傲人創舉。
					</p>
				</div>
			</div>
		</div>







	</div>

</div>










{% endblock %}