{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero_nosearch.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <p>空間分佈</p></div>
</div>


	<div class="search_section">
		<div class="fun_sec">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input type="text" placeholder="輸入關鍵字檢索">
		</div>
		<div class="btn">搜尋</div>
	</div>

	<br>
	<br>

	<div class="search_by_timeline">








	</div>


	


{% endblock %}