{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero_nosearch.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a> > <p>時間分佈</p></div>
</div>


	<div class="search_section">
		<div class="fun_sec">
			<div class="icon"><i class="fas fa-search"></i></div>
			<input type="text" placeholder="輸入關鍵字檢索">
		</div>
		<div class="btn">搜尋</div>
	</div>

	<br>
	<br>

<div class="search_by_timeline">

	<div class="time_tree">
		<div class="tree_hozi"></div>


		<div class="timeline_row">
			
			<div class="timeline_date_lg">
				<h5>1998</h5>
				<h6> 3/09 </h6>
			</div>

			<div class="timeline_item_detail_lg">
				<div class="circle"></div>
				<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載。</p>
				</div>
			</div>
		</div>


		<div class="timeline_row">
			<div class="timeline_date_lg">
				<h5>2001</h5>
				<h6> 3/09 </h6>
			</div>

			<div class="timeline_item_detail_lg">
				<div class="circle"></div>
				<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載。</p>
				</div>
			</div>
		</div>

		<div class="timeline_row">
			<div class="timeline_date_lg">
				<h5>2003</h5>
				<h6> 3/09 </h6>
			</div>

			<div class="timeline_item_detail_lg">
				<div class="circle"></div>
				<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載。</p>
				</div>
			</div>
		</div>

	</div>




</div>


	


{% endblock %}