{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a>  > 
		<p>資訊安全政策</p></div>
</div>


<div class="pure_text">
	<div class="pure_text_menu">
		<ul>
			<li><a href="">網站導覽 </a></li>
			<li><a href="">公告資訊</a></li>
			<li><a href="">常見問題</a></li>
			<li><a href="">意見信箱</a></li>
		</ul>
	</div>


	<div class="pure_text_contnet">

		<h1><i class="far fa-question-circle"></i> 常見問題</h1>
		<p><b>更新日期: 2017/8/29</b></p>
		<div class="l-l"></div>
		<div class="qa_list">
			<h2>Q: 個人資料的取得</h2>
			<p>親愛的網友，北部流行音樂中心非常重視並尊重網友的隱私權。為了幫助您瞭解北部流行音樂中心網站如何收集、應用及保護您的個人資訊，請詳細閱讀以下北部流行音樂中心網站隱私權暨資訊安全保護政策，本政策將幫助您了解，在您使用北部流行音樂中心網站以及其延伸服務網站所提供的服務時，我們收集、運用及保護網友個人資料的政策與原則。</p>
		</div>

		<div class="qa_list">
			<h2>Q: 個人資料的取得</h2>
			<p>親愛的網友，北部流行音樂中心非常重視並尊重網友的隱私權。為了幫助您瞭解北部流行音樂中心網站如何收集、應用及保護您的個人資訊，請詳細閱讀以下北部流行音樂中心網站隱私權暨資訊安全保護政策，本政策將幫助您了解，在您使用北部流行音樂中心網站以及其延伸服務網站所提供的服務時，我們收集、運用及保護網友個人資料的政策與原則。</p>
		</div>

		<div class="qa_list">
			<h2>Q: 個人資料的取得</h2>
			<p>親愛的網友，北部流行音樂中心非常重視並尊重網友的隱私權。為了幫助您瞭解北部流行音樂中心網站如何收集、應用及保護您的個人資訊，請詳細閱讀以下北部流行音樂中心網站隱私權暨資訊安全保護政策，本政策將幫助您了解，在您使用北部流行音樂中心網站以及其延伸服務網站所提供的服務時，我們收集、運用及保護網友個人資料的政策與原則。</p>
		</div>

		<div class="qa_list">
			<h2>Q: 個人資料的取得</h2>
			<p>親愛的網友，北部流行音樂中心非常重視並尊重網友的隱私權。為了幫助您瞭解北部流行音樂中心網站如何收集、應用及保護您的個人資訊，請詳細閱讀以下北部流行音樂中心網站隱私權暨資訊安全保護政策，本政策將幫助您了解，在您使用北部流行音樂中心網站以及其延伸服務網站所提供的服務時，我們收集、運用及保護網友個人資料的政策與原則。</p>
		</div>

	</div>
	
</div>


	


{% endblock %}