{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}

{% include '_partial/inside_hero.twig' %}



<div class="bread_crumbs">
	<div class="bread_crumbs_div"><a href="">首頁 </a>  > <p>時間軸</p></div>
</div>

<div class="search_by_map">
			<div class="map_block">
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14456.583411445783!2d121.61119475!3d25.063045199999998!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1520311305788" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>
			
			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>
			
			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>
			
			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>

			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>
			
			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>
			
			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>
			
			<div class="map_item">
				<div class="map_item_detail">
					<div class="photo_lg">
					<img src="img/book_01.jpg" alt="">
				</div>
				<div class="des_lg">
					<h6>重拍電音專利！ 瑞典DJ也玩Big Room</h6>
					<p style="-webkit-box-orient: vertical">《烏龍院》是漫畫家敖幼祥老師的漫畫作品。主要講述的是宋朝時一座寺廟中的兩個師傅以及兩個徒弟，一面學武，一面挑戰江湖的趣聞軼事。在 1980 年於《中國時報》開始連載，在 1985 年於日本講談社月刊開始連載，在 1988 年《烏龍院》拍攝木偶版連續劇。在 2006 年《活寶》獲得 國立編譯館優良漫畫獎佳作。在 1980 年於《中國時報》開始連載。</p>
					
				</div>
				</div>
			</div>

		</div>




	


{% endblock %}