*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

@media (min-width: 0px) {
  .two_column_section {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; }
  .two_column_section .news_info {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 20px; }
  .two_column_section .news_info .t-title {
    font-size: 23px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .news_info .t-title img {
    margin-right: 8px; }
  .two_column_section .news_info .news_list {
    border-top: 1px solid #50E3C2;
    padding-top: 20px; }
  .two_column_section .news_info .news_list .news_row {
    margin-bottom: 23px;
    transition: all .3s; }
  .two_column_section .news_info .news_list .news_row h6 {
    font-size: 17px;
    color: #222;
    margin-bottom: 5px; }
  .two_column_section .news_info .news_list .news_row p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .two_column_section .news_info .news_list .news_row:hover h6 {
    color: #111; }
  .two_column_section .news_info .news_list .news_row:hover p {
    color: #111; }
  .two_column_section .news_info .news_list .moreline {
    height: 2px;
    background: #50E3C2;
    position: relative; }
  .two_column_section .news_info .news_list .moreline .more {
    display: block;
    position: absolute;
    padding: 5px 25px;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #50E3C2;
    color: #FFF;
    font-size: 14px;
    right: 0;
    top: -15px; }
  .two_column_section .record_video {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 20px; }
  .two_column_section .record_video .t-title {
    font-size: 23px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .record_video .t-title a {
    color: #696969;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .two_column_section .record_video .t-title a img {
    margin-right: 8px; }
  .two_column_section .record_video .video_inside {
    height: 420px; }
  .two_column_section .record_video .video_inside iframe {
    width: 100%;
    height: 420px; }
  .two_column_section .slider_ad {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%; }
  .two_column_section .display_space {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%; } }

@media (min-width: 767px) {
  .two_column_section {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; }
  .two_column_section .news_info {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  .two_column_section .news_info .t-title {
    font-size: 23px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .news_info .t-title img {
    margin-right: 8px; }
  .two_column_section .news_info .news_list {
    border-top: 1px solid #50E3C2;
    padding-top: 20px; }
  .two_column_section .news_info .news_list .news_row {
    margin-bottom: 23px;
    transition: all .3s; }
  .two_column_section .news_info .news_list .news_row h6 {
    font-size: 17px;
    color: #222;
    margin-bottom: 5px; }
  .two_column_section .news_info .news_list .news_row p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .two_column_section .news_info .news_list .news_row:hover h6 {
    color: #111; }
  .two_column_section .news_info .news_list .news_row:hover p {
    color: #111; }
  .two_column_section .news_info .news_list .moreline {
    height: 2px;
    background: #50E3C2;
    position: relative; }
  .two_column_section .news_info .news_list .moreline .more {
    display: block;
    position: absolute;
    padding: 5px 25px;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #50E3C2;
    color: #FFF;
    font-size: 14px;
    right: 0;
    top: -15px; }
  .two_column_section .record_video {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  .two_column_section .record_video .t-title {
    font-size: 23px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .record_video .t-title a {
    color: #696969;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .two_column_section .record_video .t-title a img {
    margin-right: 8px; }
  .two_column_section .record_video .video_inside {
    height: 420px; }
  .two_column_section .record_video .video_inside iframe {
    width: 100%;
    height: 420px; }
  .two_column_section .slider_ad {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  .two_column_section .display_space {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; } }

@media (min-width: 1000px) {
  .two_column_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  .two_column_section:after {
    content: " ";
    display: block;
    clear: both; }
  .two_column_section .news_info {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .news_info .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .news_info .t-title img {
    margin-right: 8px; }
  .two_column_section .news_info .news_list {
    border-top: 1px solid #50E3C2;
    padding-top: 20px; }
  .two_column_section .news_info .news_list .news_row {
    margin-bottom: 23px;
    transition: all .3s; }
  .two_column_section .news_info .news_list .news_row h6 {
    font-size: 17px;
    color: #222;
    margin-bottom: 5px; }
  .two_column_section .news_info .news_list .news_row p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .two_column_section .news_info .news_list .news_row:hover h6 {
    color: #111; }
  .two_column_section .news_info .news_list .news_row:hover p {
    color: #111; }
  .two_column_section .news_info .news_list .moreline {
    height: 2px;
    background: #50E3C2;
    position: relative; }
  .two_column_section .news_info .news_list .moreline .more {
    display: block;
    position: absolute;
    padding: 5px 25px;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #50E3C2;
    color: #FFF;
    font-size: 14px;
    right: 0;
    top: -15px; }
  .two_column_section .record_video {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .record_video .t-title {
    font-size: 26px;
    color: #696969;
    margin-bottom: 10px; }
  .two_column_section .record_video .t-title img {
    margin-right: 8px; }
  .two_column_section .record_video .t-title a {
    color: #696969; }
  .two_column_section .record_video .video_inside {
    height: 420px; }
  .two_column_section .record_video .video_inside iframe {
    width: 100%;
    height: 420px; }
  .two_column_section .slider_ad {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .two_column_section .slider_ad .ad_slider {
    height: 341px; }
  .two_column_section .display_space {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }

.show_event_wrapper {
  background: url("../img/slashline.png");
  background-repeat: repeat-x;
  margin-top: 20px;
  margin-bottom: 40px; }

@media (min-width: 0px) {
  .show_event {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 500px;
    padding-top: 40px; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; }
  .show_event .show_tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 10px;
    padding-left: 8px;
    margin-bottom: 20px; }
  .show_event .show_tab .show_filter_tab {
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer; }
  .show_event .show_content .show_list-about {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 30px; }
  .show_event .show_content .show_list-about .show_gogo {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 12px;
    padding-bottom: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_event .show_content .show_list-about .show_gogo img {
    display: block;
    margin-right: 15px;
    width: 25%; }
  .show_event .show_content .show_list-about .show_gogo .summary {
    width: 70%; }
  .show_event .show_content .show_list-about .show_gogo h6 {
    font-size: 17px;
    color: #594460;
    margin-bottom: 2px; }
  .show_event .show_content .show_list-about .show_gogo p {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px; }
  .show_event .show_content .show_list-about .show_more {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #FFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  .show_event .show_content .show_block {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    display: none; }
  .show_event .show_content .show_block .show_detail {
    width: 47.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block .show_detail img {
    display: block; }
  .show_event .show_content .show_block .show_detail .mask {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 30%;
    color: #FFF;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block-col-4 {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    display: none; }
  .show_event .show_content .show_block-col-4 .show_detail {
    width: 47.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    height: 230px;
    background: #222;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block-col-4 .show_detail a img {
    display: block;
    width: 100%;
    position: absolute;
    top: 23px;
    transform: scale(1.23); }
  .show_event .show_content .show_block-col-4 .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block-col-4 .show_detail:hover {
    transform: scale(1.05); }
  .show_event .show_content .show_block-col-4 .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); } }

@media (min-width: 767px) {
  .show_event {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 500px;
    padding-top: 40px; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; }
  .show_event .show_tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 20px; }
  .show_event .show_tab .show_filter_tab {
    margin-right: 40px;
    font-size: 18px;
    cursor: pointer; }
  .show_event .show_content .show_list-about {
    width: 35.22727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  .show_event .show_content .show_list-about .show_gogo {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 23px; }
  .show_event .show_content .show_list-about .show_gogo img {
    display: none; }
  .show_event .show_content .show_list-about .show_gogo h6 {
    font-size: 18px;
    color: #594460;
    margin-bottom: 2px; }
  .show_event .show_content .show_list-about .show_gogo p {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px; }
  .show_event .show_content .show_list-about .show_more {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #FFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  .show_event .show_content .show_block {
    width: 60.22727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    display: block; }
  .show_event .show_content .show_block .show_detail {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    height: 160px;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block .show_detail img {
    display: block; }
  .show_event .show_content .show_block .show_detail .mask {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 45%;
    color: #FFF;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block-col-4 {
    width: 60.22727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    display: block; }
  .show_event .show_content .show_block-col-4 .show_detail {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    height: 230px;
    background: #222;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block-col-4 .show_detail a img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px; }
  .show_event .show_content .show_block-col-4 .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block-col-4 .show_detail:hover {
    transform: scale(1.05); }
  .show_event .show_content .show_block-col-4 .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); } }

@media (min-width: 1000px) {
  .show_event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 500px;
    padding-top: 40px; }
  .show_event:after {
    content: " ";
    display: block;
    clear: both; }
  .show_event .show_tab {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 20px; }
  .show_event .show_tab .show_filter_tab {
    margin-right: 40px;
    font-size: 18px;
    cursor: pointer; }
  .show_event .show_content .show_list-about {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .show_event .show_content .show_list-about .show_gogo {
    border-bottom: 1px solid #CECECE;
    margin-bottom: 16px; }
  .show_event .show_content .show_list-about .show_gogo img {
    display: none; }
  .show_event .show_content .show_list-about .show_gogo h6 {
    font-size: 18px;
    color: #594460;
    margin-bottom: 2px; }
  .show_event .show_content .show_list-about .show_gogo p {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .show_event .show_content .show_list-about .show_more {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #FFF;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px; }
  .show_event .show_content .show_block {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    display: block; }
  .show_event .show_content .show_block .show_detail {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 230px;
    background: #222;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block .show_detail a img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px; }
  .show_event .show_content .show_block .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block .show_detail:hover {
    transform: scale(1.05); }
  .show_event .show_content .show_block .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); }
  .show_event .show_content .show_block-col-4 {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    display: block; }
  .show_event .show_content .show_block-col-4 .show_detail {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 230px;
    background: #222;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
    overflow: hidden; }
  .show_event .show_content .show_block-col-4 .show_detail a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; }
  .show_event .show_content .show_block-col-4 .show_detail .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: transparent;
    bottom: -100%;
    left: 0;
    transition: all .3s; }
  .show_event .show_content .show_block-col-4 .show_detail:hover {
    transform: scale(1.05); }
  .show_event .show_content .show_block-col-4 .show_detail:hover .mask {
    bottom: -50%;
    left: 0;
    background: rgba(0, 0, 0, 0.8); } }

.activity {
  background-color: #23ABBC;
  color: #FFF;
  padding: 2px 25px;
  border-radius: 20px; }

@media (min-width: 0px) {
  .performance_hall {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 10px; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; }
  .performance_hall .hall_left {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 10px; }
  .performance_hall .hall_left .hall-l {
    position: relative;
    width: 100%; }
  .performance_hall .hall_left .hall-l img {
    display: block;
    width: 100%; }
  .performance_hall .hall_left .hall-l .t-des {
    position: absolute;
    top: 0;
    padding: 20px; }
  .performance_hall .hall_left .hall-l .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_left .hall-l .t-des p {
    color: #FFF;
    font-size: 14px; }
  .performance_hall .hall_right {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%; }
  .performance_hall .hall_right .hall-s {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    background-color: #718; }
  .performance_hall .hall_right .hall-s img {
    display: block; }
  .performance_hall .hall_right .hall-s .t-des {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(100, 143, 150, 0.8); }
  .performance_hall .hall_right .hall-s .t-des h6 {
    font-size: 18px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_right .hall-s .t-des p {
    color: #FFF;
    font-size: 12px; } }

@media (min-width: 767px) {
  .performance_hall {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 10px; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; }
  .performance_hall .hall_left {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    margin-bottom: 30px; }
  .performance_hall .hall_left .hall-l {
    position: relative;
    width: 100%; }
  .performance_hall .hall_left .hall-l img {
    display: block;
    width: 100%; }
  .performance_hall .hall_left .hall-l .t-des {
    position: absolute;
    top: 0;
    padding: 20px; }
  .performance_hall .hall_left .hall-l .t-des h6 {
    font-size: 18px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_left .hall-l .t-des p {
    color: #FFF;
    font-size: 12px; }
  .performance_hall .hall_right {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  .performance_hall .hall_right .hall-s {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    background-color: #718; }
  .performance_hall .hall_right .hall-s img {
    display: block; }
  .performance_hall .hall_right .hall-s .t-des {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(100, 143, 150, 0.8); }
  .performance_hall .hall_right .hall-s .t-des h6 {
    font-size: 18px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_right .hall-s .t-des p {
    color: #FFF;
    font-size: 12px; } }

@media (min-width: 1000px) {
  .performance_hall {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 10px; }
  .performance_hall:after {
    content: " ";
    display: block;
    clear: both; }
  .performance_hall .hall_left {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_left .hall-l {
    position: relative;
    width: 100%; }
  .performance_hall .hall_left .hall-l img {
    display: block;
    width: 100%; }
  .performance_hall .hall_left .hall-l .t-des {
    position: absolute;
    top: 0;
    padding: 20px; }
  .performance_hall .hall_left .hall-l .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_left .hall-l .t-des p {
    color: #FFF;
    font-size: 14px; }
  .performance_hall .hall_right {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  .performance_hall .hall_right .hall-s {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: #718; }
  .performance_hall .hall_right .hall-s img {
    display: block; }
  .performance_hall .hall_right .hall-s .t-des {
    position: absolute;
    bottom: 0px;
    padding: 20px;
    background: rgba(100, 143, 150, 0.8); }
  .performance_hall .hall_right .hall-s .t-des h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 700; }
  .performance_hall .hall_right .hall-s .t-des p {
    color: #FFF;
    font-size: 14px; } }

@media (min-width: 0px) {
  .show_schedule {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; }
  .show_schedule .date_list {
    width: 100%;
    margin-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_schedule .date_list .date_unit {
    width: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    transition: all .2s; }
  .show_schedule .date_list .date_unit .week {
    width: 50px;
    height: 25px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit .date {
    width: 50px;
    height: 30px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; } }

@media (min-width: 767px) {
  .show_schedule {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; }
  .show_schedule .date_list {
    width: 100%;
    margin-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_schedule .date_list .date_unit {
    width: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    transition: all .2s; }
  .show_schedule .date_list .date_unit .week {
    width: 50px;
    height: 25px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit .date {
    width: 50px;
    height: 30px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; } }

@media (min-width: 1000px) {
  .show_schedule {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px; }
  .show_schedule:after {
    content: " ";
    display: block;
    clear: both; }
  .show_schedule .date_list {
    width: 100%;
    margin-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .show_schedule .date_list .date_unit {
    width: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    transition: all .2s; }
  .show_schedule .date_list .date_unit .week {
    width: 50px;
    height: 25px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit .date {
    width: 50px;
    height: 30px;
    font-size: 11px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFF; }
  .show_schedule .date_list .date_unit:hover {
    transform: scale(1.2); } }

.weeked {
  color: #910 !important; }

.haveshow {
  background: #9EE0EF !important; }

body {
  font-family: Microsoft JhengHei;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.4;
  font-weight: 400; }

p, h6, h5, h4, h3, h2 {
  line-height: 1.4;
  font: 14px;
  color: #696969; }

a {
  color: #01AECC; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

@media (min-width: 0px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .top_header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/top_bg.png") center;
    height: 40px;
    width: 100%;
    top: 0;
    z-index: 3300; }
  .top_header:after {
    content: " ";
    display: block;
    clear: both; }
  .top_header .top_header_menu {
    display: block;
    margin-right: 30px; }
  .top_header .top_header_menu .lil {
    height: 14px;
    width: 1px;
    background-color: #FFF;
    margin: 0 10px; }
  .top_header .top_header_menu ul {
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .top_header .top_header_menu ul li a {
    display: block;
    color: #FFF;
    font-size: 13px; } }

@media (min-width: 0px) {
  .main_menu {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .main_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_menu {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .main_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .main_menu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .main_menu:after {
    content: " ";
    display: block;
    clear: both; }
  .main_menu .desktop_menu {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .logo {
    width: 20%; }
  .main_menu .desktop_menu .logo img {
    display: block;
    width: 120px; }
  .main_menu .desktop_menu .deskmenu {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .deskmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .deskmenu ul li {
    position: relative; }
  .main_menu .desktop_menu .deskmenu ul li a {
    display: block;
    height: 50px;
    color: #4A90E2;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .deskmenu ul li a:hover {
    color: #222; }
  .main_menu .desktop_menu .deskmenu ul li ul {
    position: absolute;
    display: block;
    width: 140px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    left: 0px;
    transition: all .3s; }
  .main_menu .desktop_menu .deskmenu ul li ul a {
    display: block;
    height: auto;
    width: 140px;
    color: #c0c0c0;
    background: rgba(1, 114, 133, 0.8);
    border-bottom: 1px solid #eee;
    line-height: 1.5;
    font-size: 13px;
    padding: 10px 20px;
    text-align: center;
    transition: all .3s; }
  .main_menu .desktop_menu .deskmenu ul li ul a:hover {
    color: #FFF;
    background: rgba(1, 114, 133, 0.95); }
  .main_menu .desktop_menu .deskmenu ul li:hover ul {
    visibility: visible;
    opacity: 1; } }

@media (min-width: 0px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image .hamburg {
    display: none;
    margin-bottom: 60px;
    position: relative; }
  .main_image .aside {
    display: none; }
  .main_image .main_slider .new_photo {
    width: 100%; }
  .main_image .main_slider .new_photo img {
    width: 100%; }
  .main_image .index_menu {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 40px;
    z-index: 4000;
    transition: all .4s; } }

.black_wrapper {
  background: #000; }

@media (min-width: 0px) {
  .black_section {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .black_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .black_section {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .black_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .black_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .black_section:after {
    content: " ";
    display: block;
    clear: both; }
  .black_section .black_icons {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .black_section .black_icons .icon_link {
    width: 90px;
    height: 90px;
    margin: 0 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .black_section .black_icons .icon_link img {
    margin-bottom: 5px; }
  .black_section .black_icons .icon_link p {
    color: #FFF;
    font-size: 15px; } }

.comic_bg {
  background: url("../img/comic_bg.jpg");
  background-repeat: none;
  background-size: cover; }

@media (min-width: 0px) {
  .index_event {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .index_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .index_event {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .index_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .index_event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .index_event:after {
    content: " ";
    display: block;
    clear: both; }
  .index_event .index_event_block {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-top: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block h6 {
    font-size: 35px;
    color: #FFF; }
  .index_event .index_event_block p {
    color: #FFF;
    font-size: 14px; }
  .index_event .index_event_block .index_event_col_1 {
    width: 30%;
    background: #F5A623;
    height: 900px;
    padding: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_1 .straight {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_1 .straight .line {
    width: 1px;
    height: 200px;
    background: #FFF;
    transform: rotate(35deg); }
  .index_event .index_event_block .index_event_col_2 {
    width: 40%;
    height: 900px;
    background: #189; }
  .index_event .index_event_block .index_event_col_2 .event_a {
    height: 900px;
    position: relative;
    overflow: hidden; }
  .index_event .index_event_block .index_event_col_2 .event_a .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_2 .event_a .i-image {
    position: absolute;
    width: 100%;
    height: 100%; }
  .index_event .index_event_block .index_event_col_2 .event_a .i-image img {
    display: block;
    width: 100%; }
  .index_event .index_event_block .index_event_col_3 {
    width: 30%;
    height: 900px;
    background: #999; }
  .index_event .index_event_block .index_event_col_3 .event_a {
    height: 300px;
    position: relative;
    overflow: hidden; }
  .index_event .index_event_block .index_event_col_3 .event_a .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_3 .event_a .i-image {
    position: absolute;
    width: 100%;
    height: 100%; }
  .index_event .index_event_block .index_event_col_3 .event_a .i-image img {
    display: block;
    width: 100%; } }

.opacity_red {
  background: rgba(120, 9, 22, 0.8); }

.opacity_grey {
  background: rgba(0, 0, 0, 0.7); }

.opacity_green {
  background: rgba(63, 113, 12, 0.5); }

.news_wrapper {
  background: url("../img/groovepaper.png");
  height: 500px;
  margin-top: 150px; }

@media (min-width: 0px) {
  .news_block {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .news_block:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .news_block {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .news_block:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .news_block {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .news_block:after {
    content: " ";
    display: block;
    clear: both; }
  .news_block .new_news {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    border: 3px solid #eee;
    height: 400px;
    background: #FFF;
    margin-top: -50px;
    padding: 40px; }
  .news_block .new_news h6 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px; }
  .news_block .new_news .news_item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    padding-left: 10px;
    color: #888;
    transition: all .3s; }
  .news_block .new_news .news_item:hover {
    background: #e9e9e9; } }

.circle_bg {
  background: url("../img/circle_bg.jpg");
  background-size: cover; }

@media (min-width: 0px) {
  .circle_icon {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  .circle_icon:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .circle_icon {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .circle_icon:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .circle_icon {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .circle_icon:after {
    content: " ";
    display: block;
    clear: both; }
  .circle_icon .circle_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 280px; }
  .circle_icon .circle_row .circle_i {
    width: 152px;
    height: 152px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF; }
  .circle_icon .circle_row .circle_i img {
    display: block;
    margin-bottom: 6px;
    width: 47px; } }

.index_menu_bg {
  background-color: rgba(30, 30, 30, 0.9) !important; }

.index_menu_bg ul li a {
  color: #FFF !important; }

.hamburg-open {
  right: 0% !important;
  transform: rotate(0deg) translate3d(0px, 0px, 0px); }

.hamburg .aaa, .hamburg .bbb, .hamburg .ccc {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 4px;
  background: #555;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: all .5s ease;
  transform: rotate(0deg) translate3d(0px, 0px, 0px); }

.active .aaa {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #a0f3ff;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s ease;
  transform: rotate(405deg) translate3d(8px, 8px, 0px); }

.active .bbb {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #a0f3ff;
  margin-bottom: 6px;
  margin-top: 6px;
  transform: rotate(0deg) translate3d(0px, 0px, 0px);
  opacity: 0; }

.active .ccc {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #a0f3ff;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s ease;
  transform: rotate(-405deg) translate3d(8px, -8px, 0px); }

.header_wrapper {
  border-bottom: 1px solid #eee; }

.second-open {
  right: 0% !important;
  transition: all .5s ease; }

.footer_wrapper {
  width: 100%;
  background: #222;
  background-size: cover;
  padding: 20px 0; }

@media (min-width: 0px) {
  footer {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .switch {
    width: 100%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #719596;
    margin-bottom: 20px;
    color: #FFF;
    transition: all .3s;
    cursor: pointer; }
  footer .switch i {
    margin-left: 5px; }
  footer .links_right .links_s {
    width: 47.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #eee;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .links_us {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .copyright {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 20px; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .culture_dep {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }

@media (min-width: 767px) {
  footer {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .switch {
    width: 100%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #719596;
    margin-bottom: 20px;
    color: #FFF;
    transition: all .3s;
    cursor: pointer; }
  footer .switch i {
    margin-left: 5px; }
  footer .switch:hover {
    background: #017285; }
  footer .links_right .links_s {
    width: 22.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #eee;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .links_us {
    width: 97.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .copyright {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .culture_dep {
    width: 47.72727%;
    float: right;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }

@media (min-width: 1000px) {
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .links_right .links_s {
    width: 12.5%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px;
    transition: all .3s; }
  footer .links_right .links_s a:hover {
    color: #FFF; }
  footer .links_right .links_us {
    width: 98.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #c0c0c0;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    transition: all .3s; }
  footer .links_right .links_us a:hover {
    color: #FFF; }
  footer .links_right .copyright {
    width: 73.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .culture_dep {
    width: 23.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }

.fat-footer_show {
  display: none !important; }
