*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

.top_header {
  background: url("../img/top_bg.png") center;
  height: 40px;
  width: 100%; }

@media (min-width: 0px) {
  .top_header_menu {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .top_header_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .top_header_menu {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .top_header_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .top_header_menu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .top_header_menu:after {
    content: " ";
    display: block;
    clear: both; }
  .top_header_menu .lil {
    height: 14px;
    width: 1px;
    background-color: #FFF;
    margin: 0 10px; }
  .top_header_menu ul {
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .top_header_menu ul li a {
    display: block;
    color: #FFF;
    font-size: 13px; } }

@media (min-width: 0px) {
  .main_menu {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .main_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_menu {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .main_menu:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .main_menu {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .main_menu:after {
    content: " ";
    display: block;
    clear: both; }
  .main_menu .desktop_menu {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .logo {
    width: 20%; }
  .main_menu .desktop_menu .logo img {
    display: block;
    width: 220px; }
  .main_menu .desktop_menu .deskmenu {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .deskmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .deskmenu ul li {
    position: relative; }
  .main_menu .desktop_menu .deskmenu ul li a {
    display: block;
    height: 50px;
    color: #4A90E2;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .main_menu .desktop_menu .deskmenu ul li a:hover {
    color: #222; }
  .main_menu .desktop_menu .deskmenu ul li ul {
    position: absolute;
    display: block;
    width: 140px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    left: 0px;
    transition: all .3s; }
  .main_menu .desktop_menu .deskmenu ul li ul a {
    display: block;
    height: auto;
    width: 140px;
    color: #c0c0c0;
    background: rgba(1, 114, 133, 0.8);
    border-bottom: 1px solid #eee;
    line-height: 1.5;
    font-size: 13px;
    padding: 10px 20px;
    text-align: center;
    transition: all .3s; }
  .main_menu .desktop_menu .deskmenu ul li ul a:hover {
    color: #FFF;
    background: rgba(1, 114, 133, 0.95); }
  .main_menu .desktop_menu .deskmenu ul li:hover ul {
    visibility: visible;
    opacity: 1; } }

@media (min-width: 0px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .main_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image .hamburg {
    display: none;
    margin-bottom: 60px;
    position: relative; }
  .main_image .aside {
    display: none; }
  .main_image .main_slider .new_photo {
    width: 100%; }
  .main_image .main_slider .new_photo img {
    width: 100%; }
  .main_image .index_menu {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 40px;
    z-index: 4000;
    transition: all .4s; } }

.black_wrapper {
  background: #000; }

@media (min-width: 0px) {
  .black_section {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .black_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .black_section {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .black_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .black_section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .black_section:after {
    content: " ";
    display: block;
    clear: both; }
  .black_section .black_icons {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .black_section .black_icons .icon_link {
    width: 90px;
    height: 90px;
    margin: 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .black_section .black_icons .icon_link img {
    margin-bottom: 5px; }
  .black_section .black_icons .icon_link p {
    color: #FFF;
    font-size: 15px; } }

.comic_bg {
  background: url("../img/comic_bg.jpg");
  background-repeat: none;
  background-size: cover; }

@media (min-width: 0px) {
  .index_event {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .index_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .index_event {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .index_event:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .index_event {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .index_event:after {
    content: " ";
    display: block;
    clear: both; }
  .index_event .index_event_block {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    height: 700px;
    margin-top: 120px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block h6 {
    font-size: 35px;
    color: #FFF; }
  .index_event .index_event_block p {
    color: #FFF;
    font-size: 14px; }
  .index_event .index_event_block .index_event_col_1 {
    width: 30%;
    height: 100%;
    background: #F5A623;
    padding: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_1 .straight {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_1 .straight .line {
    width: 1px;
    height: 200px;
    background: #FFF;
    transform: rotate(35deg); }
  .index_event .index_event_block .index_event_col_2 {
    width: 40%;
    height: 100%;
    background: #189; }
  .index_event .index_event_block .index_event_col_2 .event_a {
    height: 100%;
    position: relative;
    overflow: hidden; }
  .index_event .index_event_block .index_event_col_2 .event_a .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_2 .event_a .i-image {
    position: absolute;
    width: 100%;
    height: 100%; }
  .index_event .index_event_block .index_event_col_2 .event_a .i-image img {
    display: block;
    width: 100%; }
  .index_event .index_event_block .index_event_col_3 {
    width: 30%;
    height: 100%;
    background: #999; }
  .index_event .index_event_block .index_event_col_3 .event_a {
    height: 33.33%;
    position: relative;
    overflow: hidden; }
  .index_event .index_event_block .index_event_col_3 .event_a .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center; }
  .index_event .index_event_block .index_event_col_3 .event_a .i-image {
    position: absolute;
    width: 100%;
    height: 100%; }
  .index_event .index_event_block .index_event_col_3 .event_a .i-image img {
    display: block;
    width: 100%; } }

.opacity_red {
  background: rgba(120, 9, 22, 0.8); }

.opacity_grey {
  background: rgba(0, 0, 0, 0.7); }

.opacity_green {
  background: rgba(63, 113, 12, 0.5); }

.news_wrapper {
  background: url("../img/groovepaper.png");
  height: 500px;
  margin-top: 150px; }

@media (min-width: 0px) {
  .news_block {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .news_block:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .news_block {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .news_block:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .news_block {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .news_block:after {
    content: " ";
    display: block;
    clear: both; }
  .news_block .new_news {
    width: 46.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    border: 3px solid #eee;
    height: 400px;
    background: #FFF;
    margin-top: -50px;
    padding: 40px; }
  .news_block .new_news h6 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px; }
  .news_block .new_news .news_item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    padding-left: 10px;
    color: #888;
    transition: all .3s; }
  .news_block .new_news .news_item:hover {
    background: #e9e9e9; } }

.circle_bg {
  background: url("../img/circle_bg.jpg");
  background-size: cover; }

@media (min-width: 0px) {
  .circle_icon {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .circle_icon:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .circle_icon {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .circle_icon:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .circle_icon {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .circle_icon:after {
    content: " ";
    display: block;
    clear: both; }
  .circle_icon .circle_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 280px; }
  .circle_icon .circle_row .circle_i {
    width: 152px;
    height: 152px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF; }
  .circle_icon .circle_row .circle_i img {
    display: block;
    margin-bottom: 6px;
    width: 47px; } }

.index_menu_bg {
  background-color: rgba(30, 30, 30, 0.9) !important; }

.index_menu_bg ul li a {
  color: #FFF !important; }

.hamburg-open {
  right: 0% !important;
  transform: rotate(0deg) translate3d(0px, 0px, 0px); }

.hamburg .aaa, .hamburg .bbb, .hamburg .ccc {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 4px;
  background: #555;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: all .5s ease;
  transform: rotate(0deg) translate3d(0px, 0px, 0px); }

.active .aaa {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #a0f3ff;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s ease;
  transform: rotate(405deg) translate3d(8px, 8px, 0px); }

.active .bbb {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #a0f3ff;
  margin-bottom: 6px;
  margin-top: 6px;
  transform: rotate(0deg) translate3d(0px, 0px, 0px);
  opacity: 0; }

.active .ccc {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 5px;
  background: #a0f3ff;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s ease;
  transform: rotate(-405deg) translate3d(8px, -8px, 0px); }

.header_wrapper {
  border-bottom: 1px solid #eee; }

.second-open {
  right: 0% !important;
  transition: all .5s ease; }

.footer_wrapper {
  width: 100%;
  background: #222;
  background-size: cover;
  padding: 20px 0; }

@media (min-width: 0px) {
  footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .switch {
    width: 100%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #719596;
    margin-bottom: 20px;
    color: #FFF;
    transition: all .3s;
    cursor: pointer; }
  footer .switch i {
    margin-left: 5px; }
  footer .links_right .links_s {
    width: 46.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #eee;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .links_us {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .copyright {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    margin-bottom: 20px; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .culture_dep {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }

@media (min-width: 767px) {
  footer {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .switch {
    width: 100%;
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #719596;
    margin-bottom: 20px;
    color: #FFF;
    transition: all .3s;
    cursor: pointer; }
  footer .switch i {
    margin-left: 5px; }
  footer .switch:hover {
    background: #017285; }
  footer .links_right .links_s {
    width: 22.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #eee;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .links_us {
    width: 97.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .copyright {
    width: 47.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .culture_dep {
    width: 47.72727%;
    float: right;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }

@media (min-width: 1000px) {
  footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .links_right .links_s {
    width: 10.83333%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    margin-bottom: 20px; }
  footer .links_right .links_s h6 {
    color: #FFF;
    margin-bottom: 20px; }
  footer .links_right .links_s a {
    display: block;
    color: #c0c0c0;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 10px;
    transition: all .3s; }
  footer .links_right .links_s a:hover {
    color: #FFF; }
  footer .links_right .links_us {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%; }
  footer .links_right .links_us h6 {
    color: #00a3e4;
    margin-bottom: 20px; }
  footer .links_right .links_us p {
    color: #FFF;
    font-size: 12px; }
  footer .links_right .links_us a {
    display: block;
    color: #c0c0c0;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    transition: all .3s; }
  footer .links_right .links_us a:hover {
    color: #FFF; }
  footer .links_right .copyright {
    width: 71.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%; }
  footer .links_right .copyright .gov {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  footer .links_right .copyright .gov img {
    margin-top: 20px;
    margin-right: 20px; }
  footer .links_right .copyright p {
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px; }
  footer .links_right .culture_dep {
    width: 21.66667%;
    float: right;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
  footer .links_right .culture_dep .lan {
    display: block;
    width: 60%;
    border: 1px solid #aebfbf;
    margin-bottom: 20px; }
  footer .links_right .culture_dep .lan select {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    color: #FFF;
    background: transparent;
    border-radius: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none; } }

.fat-footer_show {
  display: none !important; }

@media (min-width: 0px) {
  .bread_crumbs {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .bread_crumbs .bread_crumbs_div {
    width: 96.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .bread_crumbs .bread_crumbs_div a {
    color: #888;
    margin: 0 10px;
    font-size: 14px; }
  .bread_crumbs .bread_crumbs_div p {
    color: #222;
    margin: 0 10px;
    font-size: 14px; } }

@media (min-width: 767px) {
  .bread_crumbs {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .bread_crumbs .bread_crumbs_div {
    width: 97.72727%;
    float: left;
    margin-left: 1.13636%;
    margin-right: 1.13636%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .bread_crumbs .bread_crumbs_div a {
    color: #888;
    margin: 0 10px;
    font-size: 14px; }
  .bread_crumbs .bread_crumbs_div p {
    color: #222;
    margin: 0 10px;
    font-size: 14px; } }

@media (min-width: 1000px) {
  .bread_crumbs {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0px;
    font-size: 14px;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 20px; }
  .bread_crumbs:after {
    content: " ";
    display: block;
    clear: both; }
  .bread_crumbs .bread_crumbs_div {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .bread_crumbs .bread_crumbs_div a {
    color: #888;
    margin: 0 10px;
    font-size: 14px; }
  .bread_crumbs .bread_crumbs_div p {
    color: #222;
    margin: 0 10px;
    font-size: 14px; } }

@media (min-width: 0px) {
  .about_site {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .about_site:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 767px) {
  .about_site {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto; }
  .about_site:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  .about_site {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; }
  .about_site:after {
    content: " ";
    display: block;
    clear: both; }
  .about_site .layout_aside {
    width: 21.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    padding: 0 20px; }
  .about_site .layout_aside ul li a {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 900; }
  .about_site .layout_aside ul li a i {
    margin-right: 10px; }
  .about_site .layout_content {
    width: 71.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%; }
  .about_site .layout_content h6 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #a22a59; }
  .about_site .layout_content p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400; }
  .about_site .layout_content img {
    margin-bottom: 20px; }
  .about_site .relative_link {
    width: 71.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%; }
  .about_site .relative_link .link_block {
    width: 30%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; }
  .about_site .relative_link .link_block .mask {
    position: absolute;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFF;
    bottom: 0; }
  .about_site .relative_link .link_block img {
    display: block;
    width: 100%; } }

body {
  font-family: Microsoft JhengHei;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.4;
  font-weight: 400; }

p, h6, h5, h4, h3, h2 {
  line-height: 1.5;
  font: 14px;
  color: #888; }

a {
  color: #888; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
