
<div class="main_image">



	<div class="main_slider">
		<section class="main slider">
		    <div class="new_photo"><img src="img/hero-image_a1.jpg"> </div>
		    <div class="new_photo"><img src="img/hero-image_a2.jpg"> </div>
		</section>
	</div>
</div>
