
<div class="main_image">

	<div class="main_slider">
		<section class="main slider">
		    <div class="new_photo">
				<div class="t-text">
					<h6>本站簡介</h6>
					<p>國家級的「國家漫畫博物館」確定落腳台中，將設在中台灣電影中心內！動漫產業商機龐大，日本很多長壽動漫，連載時間超過10多年，吸引死忠粉絲掏腰包追劇，為串起完整產業鏈，台中市政府建構發展動畫、漫畫、插畫的藝術基地，扶植漫畫產業在地發展。</p>
				</div>
		    	<img src="img/main_image.jpg"> </div>
		</section>
	</div>
</div>
