
<div class="main_image">

	<div class="main_slider">
		<section class="main slider">
		    <div class="new_photo"><img src="img/inside_main_image.jpg"> </div>
		</section>
	</div>

	<div class="circle_link">
		<!-- <div class="circle_link_btn">
			<i class="fa fa-university" aria-hidden="true"></i>
			<p>館藏查詢 </p>
		</div> -->		

		<div class="circle_link_btn">
			<i class="far fa-calendar-alt fa-lg"></i>
			<p>時間軸 </p>
		</div>	

		<div class="circle_link_btn">
			<i class="fas fa-map-marker-alt fa-lg"></i>
			<p>空間分布 </p>
		</div>
	</div>


</div>
