


<div class="main_image_inside_wrapper">
	<div class="main_image_inside">

		<div class="main_slider_inside">

			
			
		</div>

		<div class="circle_link">
			<!-- <div class="circle_link_btn">
				<i class="fa fa-university" aria-hidden="true"></i>
				<p>館藏查詢 </p>
			</div> -->		
			<a href="" class="circle_link_btn">
				<i class="far fa-calendar-alt fa-lg"></i>
				<p>時間軸 </p>
			</a>
			<a href="" class="circle_link_btn">
				<i class="fas fa-map-marker-alt fa-lg"></i>
				<p>空間分布 </p>
			</a>
		</div>
	</div>
</div>


