


<div class="main_image_inside_wrapper">
	<div class="main_image_inside">

		<div class="main_slider_inside">

			<div class="search_section_insidepage">
				<div class="fun_sec">
					<div class="icon"><i class="fas fa-search"></i></div>
					<input type="text" placeholder="館藏查詢">
					<div class="fun_sec_i trigger-custom" data-iziModal-open="#modal-search">
						<i class="fas fa-sliders-h"></i>
						</div>
				</div>
				<div class="btn">搜尋</div>
			</div>
			<!-- <section class="main slider">
			    <div class="new_photo"><img src="img/inside_main_image.jpg"> </div>
			</section> -->
		</div>

		<div class="circle_link">
			<!-- <div class="circle_link_btn">
				<i class="fa fa-university" aria-hidden="true"></i>
				<p>館藏查詢 </p>
			</div> -->		
			<a href="" class="circle_link_btn">
				<i class="far fa-calendar-alt fa-lg"></i>
				<p>時間軸 </p>
			</a>
			<a href="" class="circle_link_btn">
				<i class="fas fa-map-marker-alt fa-lg"></i>
				<p>空間分布 </p>
			</a>
		</div>
	</div>
</div>


